body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  padding-top: 20px;
  font-weight: 600;
}

.questiontitle {
  font-weight: 600;  
  padding-right: 5px;
}

.questionsTitle {
  font-weight: 700;  
  color: darkred;
}

.questionspage {
  margin-top: 30px;
}

.answerTrue {
  color: green;
}

.answerFalse {
  color: red;
}

.answerWarning {
  color: orange;
}

.centered {
  padding-top: 7px;
}

.giveSpace {
  padding-right: 15px;
}

.timerText {
  padding-bottom: 20px;
  color: blueviolet;
  font-weight: 600;
  font-size: 23px;
}

.gameResultLabel {
  margin-top: 30px;
  font-size: 19px;
  color : blue;
}
